@import 'src/app/shared/styles/variables.scss';


.container {
  padding: $padding;
  padding-bottom: 24px;
}

mat-spinner.progressSpinner {
  margin: $padding;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: $primaryColor;
}
