<div class="post">
  <div class="source" fxLayout="column" fxLayoutAlign="end center">
    <fa-icon [icon]="faInstagram"></fa-icon>
  </div>

  <div fxLayout="column" fxLayoutGap="20px">
    <div
      *ngIf="item.item_data.image.medium"
      class="imageContainer"
      [style.backgroundImage]="'url('+ item.item_data.image.medium +')'"></div>

    <div class="posterUsername">
      {{item.item_data.user.username}}
    </div>

    <div class="postContent" [innerHTML]="item.item_data.caption | linkify: linkifyOptions"></div>
  </div>

  <!-- <pre>
    {{item | json}}
  </pre> -->
</div>