<div class="post">
  <div class="source" fxLayout="column" fxLayoutAlign="end center">
    {{item.account_name}}
  </div>

  <div fxLayout="column" fxLayoutGap="20px">
    <div
      *ngIf="item.item_data.image_url"
      class="imageContainer"
      [style.backgroundImage]="'url('+ item.item_data.image_url +')'"></div>

    <div *ngIf="!item.item_data.image_url" class="spacer"></div>
    
    <div class="itemText postContent">
      {{item.item_data.text}}
    </div>
  
    <div *ngIf="item.item_data.link_text" class="linkContainer">
      <a class="link" [href]="item.item_data.link" target="_blank">
        {{item.item_data.link_text}}
      </a>
    </div>
  </div>

  <!-- <pre>
    {{item | json}}
  </pre> -->
</div>