<div class="post">
  <p>Tweet</p>

  <div *ngIf="item.item_data.image_url" class="imageContainer">
    <img [src]="item.item_data.image_url" [alt]="item.item_name">
  </div>

  <div *ngIf="item.item_data.user.avatar" class="imageContainer">
      <img [src]="item.item_data.user.avatar" [alt]="item.item_name">
    </div>


  <div>
    Name: {{item.item_data.user.name}}
    <br/>
    Username: {{item.item_data.user.username}}
  </div>

  <div>
    Tweet: {{item.item_data.tweet}}
  </div>

  <!-- <pre>
      {{item.item_data.is_reply | json}}
      {{item.item_data.is_retweet | json}}
  </pre> -->
  <pre>
      {{item.item_published | json}}
  </pre>
</div>
