<div class="post">
  <div class="source" fxLayout="column" fxLayoutAlign="end center">
    b
  </div>

  <div fxLayout="column" fxLayoutGap="20px">
    <div class="posterUsername">
      {{item.item_data.user.username}}
    </div>
  
    <div>
      {{item.item_data.tweet}}
    </div>
  </div>

  <!-- <pre>
    {{item.item_data | json}}
  </pre> -->
</div>


<!-- <div class="post">
  <p>Tweet</p>

  <div *ngIf="item.item_data.image_url" class="imageContainer">
    <img [src]="item.item_data.image_url" [alt]="item.item_name">
  </div>

  <div *ngIf="item.item_data.user.avatar" class="imageContainer">
      <img [src]="item.item_data.user.avatar" [alt]="item.item_name">
    </div>


  <div>
    Name: {{item.item_data.user.name}}
    <br/>
    Username: {{item.item_data.user.username}}
  </div>

  <div>
    Tweet: {{item.item_data.tweet}}
  </div>

  <pre>
      {{item.item_published | json}}
  </pre>
</div> -->
