
$primaryColor: #D3372A;

label {
  cursor: pointer;
  padding: 12px;
  text-align: center;
  width: 100%;
}


.filter {
  border: 2px solid $primaryColor;
  color: $primaryColor;
  -webkit-transition: background-color 0.3s, color 0.4s ;
  -moz-transition: background-color 0.4s , color 0.4s ;
  -o-transition: background-color 0.4s , color 0.4s ;
  transition: background-color 0.4s , color 0.4s ;

  &:hover {
    background-color: $primaryColor;
    color: white;
  }

  &.active {
    background-color: $primaryColor;
    color: white;

    :hover {
      background-color: $primaryColor;
      color: white;
      cursor: pointer;
    }
  }
}


input[type="checkbox"] {
  margin: 0;
  visibility: hidden;
  width: 0;
}
