@import '~@angular/material/theming';
@include mat-core();

@import 'src/app/shared/styles/variables.scss';


label {
  cursor: pointer;
  padding: $padding;
  text-align: center;
  width: 100%;
}

.filter {
  @include mat-elevation(1);

  background-color: white;
  border: 2px solid white;
  border-radius: $borderRadius;
  color: $primaryColor;
  -webkit-transition: background-color $transitionTime, border-color $transitionTime, color $transitionTime;
  -moz-transition: background-color $transitionTime, border-color $transitionTime, color $transitionTime;
  -o-transition: background-color $transitionTime, border-color $transitionTime, color $transitionTime;
  transition: background-color $transitionTime, border-color $transitionTime, color $transitionTime;

  &:hover {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: $lightTextColor;
  }

  &.active {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: $lightTextColor;

    :hover {
      background-color: $primaryColor;
      color: $lightTextColor;
      cursor: pointer;
    }
  }
}


input[type="checkbox"] {
  margin: 0;
  visibility: hidden;
  width: 0;
}
