<div class="post">
  <div class="source" fxLayout="column" fxLayoutAlign="end center">
    i
  </div>

  <div fxLayout="column" fxLayoutGap="20px">
    <div *ngIf="item.item_data.image.medium" class="imageContainer">
      <img [alt]="item.item_data.caption" [src]="item.item_data.image.medium">
    </div>

    <div class="posterUsername">
      {{item.item_data.user.username}}
    </div>
  
    <div>
      {{item.item_data.caption}}
    </div>
  </div>

  <!-- <pre>
    {{item | json}}
  </pre> -->
</div>