
$primaryColor: #D3372A;

.container {
  padding: 12px;
}

mat-spinner.progressSpinner {
  margin: 12px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: $primaryColor;
}

.primaryButton {
  background-color: $primaryColor;
}

.loadMore {
  padding-bottom: 24px;
}


