<div
class="container"
fxLayout="column" fxLayoutGap="12px">
  <app-filter (filtersChanged)="filtersChanged($event)"></app-filter>

  <app-post-list [filters]="filters" [items]="items"></app-post-list>

  <div class="loadMore" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner
      *ngIf="!dataLoaded"
      [diameter]="progressSpinnerOptions.diameter"
      [strokeWidth]="progressSpinnerOptions.strokeWidth"></mat-spinner>

    <button
        *ngIf="dataLoaded"
        (click)="getData()"
        color="primary"
        mat-raised-button>
      Load more
    </button>
  </div>
</div>