@import '~@angular/material/theming';
@include mat-core();

@import 'src/app/shared/styles/variables.scss';


.post {
  @include mat-elevation(1);
  background-color: white;
  border-radius: $borderRadius;
  margin: 10px 5px;
  padding: 20px;
  position: relative;

  .source {
    background-color: #222222;
    border-radius: $borderRadius;
    color: $lightTextColor;
    height: 45px;
    padding-bottom: 2px;
    position: absolute;
    top: -10px;
    left: 20px;
    text-align: center;
    width: 35px;

    fa-icon {
      font-size: 26px;
    }
  }

  .postContent {
    line-height: 22px;
  }

  .spacer {
    height: 10px;
  }

  .imageContainer {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;

    @media screen and (min-width: 450px) and (max-width: 720px) {
      height: 100px;
    }
  }

  .linkContainer {
    line-height: 20px;
  }
}

::ng-deep .linkified,
.link {
  color: $primaryColor;
  text-decoration: none;
  word-wrap: break-word;
}
