<ngx-masonry [options]="{
      columnWidth: '.grid-sizer',
      horizontalOrder: true,
      itemSelector: '.masonry-item'
    }">  
  <ng-container *ngFor="let item of items">
    <div class="grid-sizer"></div>

    <div ngxMasonryItem class="masonry-item" >
      <app-manual-post  *ngIf="postIsNotFiltered(item) && item.service_name === 'Manual'"
        [item]="item"></app-manual-post>

      <app-instagram-post *ngIf="postIsNotFiltered(item) && item.service_name === 'Instagram'" 
        [item]="item"></app-instagram-post>

      <app-twitter-post *ngIf="postIsNotFiltered(item) && item.service_name === 'Twitter'" 
        [item]="item"></app-twitter-post>
    </div>
  </ng-container>
</ngx-masonry>