
.hidden {
  display: none;
}


.masonry-item {
  width: 33%;
  border: 1px solid red;
  overflow: hidden;
}

.grid-sizer {
  width: 33.333%;
}


@media only screen and (max-width: 600px) {
  .masonry-item {
    width: 100%;
  }

  .grid-sizer,
  .masonry-item {
    width: 100%;
  }
}