<div class="masonry-with-columns">
  <div
      *ngFor="let item of items"
      class="masonry-item"
      [ngClass]="{
        'hidden': !postIsNotFiltered(item)
      }">
    <ng-container *ngIf="postIsNotFiltered(item)">
      <app-manual-post
        *ngIf="item.service_slug === 'manual'"
        [item]="item"></app-manual-post>

      <app-instagram-post
        *ngIf="item.service_slug === 'instagram'"
        [item]="item"></app-instagram-post>

      <app-twitter-post
        *ngIf="item.service_slug === 'twitter'"
        [item]="item"></app-twitter-post>
    </ng-container>
  </div>
</div>