@import '@angular/material/prebuilt-themes/pink-bluegrey.css';


html, body {
  height: 100%;
}

body { 
  background-color: whitesmoke;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  background-color: white !important;
  color: black !important;
}

.imageContainer {
  height: 80px;
  width: 100%;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}