@import 'src/app/shared/styles/variables.scss';


html, body {
  height: 100%;
}

body { 
  background-color: whitesmoke;
  color: $bodyTextColor !important;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
