@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

$primaryColor: #D3372A;


html, body {
  height: 100%;
}

body { 
  background-color: whitesmoke;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  background-color: white !important;
  color: black !important;
}

