<div class="post">
  <div class="source" fxLayout="column" fxLayoutAlign="end center">
    <fa-icon [icon]="faTwitter" size="1x"></fa-icon>
  </div>

  <div fxLayout="column" fxLayoutGap="20px">
    <div class="spacer"></div>

    <div class="posterUsername">
      {{item.item_data.user.username}}
    </div>
  
    <div class="postContent" [innerHTML]="item.item_data.tweet | linkify: linkifyOptions"></div>
  </div>

  <div class="relativeTimestamp">
    {{item.item_published | relativeDate}}
  </div>
</div>